.contain{
  position: relative;
  display: flex;
}

.search{
  width: 30vw;
  background-color: blueviolet;
}

.userlist{
  height: 90vh;
  width: 70vw;
  background-color: cornflowerblue;
}

.header{
  height: 10vh;
}